.animate-fadeIn  {
    animation: fadeIn .3s;
}

.animate-slideUp  {
    animation: slideUp .3s;
}

.bg-blue-600 {
    background-color: rgb(28 100 242);
}

.hover\:bg-gray-500\/10:hover {
    background-color: hsla(0, 0%, 61%, .1)
}

.border-\[\#6f6e77\] {
    border-color: #6f6e77;
}

.cursor-help {
    cursor: help;
}

.dark .dark\:bg-white\/5 {
    background-color: rgb(255 255 255 / 5%);
}

.dark .dark\:text-gray-200 {
    color: rgb(229 231 235 / 1);
}

.dark .dark\:text-gray-300 {
    color: rgb(209 213 219 / 1);
}

.dark .dark\:border-gray-\[\#86858d\] {
    border-color: #86858d;
}

.gap-x-1 {
    column-gap: 0.25rem;
}

.h-2\.5 {
    height: 0.625rem;
}

.h-4 {
    height: 1rem;
}

.ml-3 {
    margin-left: 0.75rem;
}

.ml-4 {
    margin-left: 1rem;
}

.mr-8 {
    margin-right: 2rem;
}

.pb-0 {
    padding-bottom: 0;
}

.pr-8 {
    padding-right: 2rem;
}

.rounded-full {
    border-radius: 9999px;
}

.select-all {
    user-select: all!important;
}

.space-y-6>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.whitespace-nowrap {
    white-space: nowrap;
}

@media (min-width:768px) {
    /* md */
}

@media (min-width:1024px) {
    .lg\:mt-0 {
        margin-top: 0;
    }

    .lg\:top-8 {
        top: 2rem;
    }
}
