.animate-fadeIn  {
    animation: fadeIn .3s;
}

.animate-slideUp  {
    animation: slideUp .3s;
}

.bg-blue-600 {
    background-color: rgb(28 100 242);
}

.hover\:bg-gray-500\/10:hover {
    background-color: hsla(0, 0%, 61%, .1)
}

.border-\[\#6f6e77\] {
    border-color: #6f6e77;
}

.cursor-help {
    cursor: help;
}

.dark .dark\:bg-white\/5 {
    background-color: rgb(255 255 255 / 5%);
}

.dark .dark\:text-gray-200 {
    color: rgb(229 231 235 / 1);
}

.dark .dark\:text-gray-300 {
    color: rgb(209 213 219 / 1);
}

.dark .dark\:border-gray-\[\#86858d\] {
    border-color: #86858d;
}

.gap-x-1 {
    column-gap: 0.25rem;
}

.h-2\.5 {
    height: 0.625rem;
}

.h-4 {
    height: 1rem;
}

.inline-flex {
    display: inline-flex;
}

.items-center {
    align-items: center;
}

.ml-3 {
    margin-left: 0.75rem;
}

.ml-4 {
    margin-left: 1rem;
}

.mr-8 {
    margin-right: 2rem;
}

.pb-0 {
    padding-bottom: 0;
}

.pr-8 {
    padding-right: 2rem;
}

.right-4 {
    right: 1rem;
}

.rounded-full {
    border-radius: 9999px;
}

.select-all {
    user-select: all!important;
}

.space-y-6>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.whitespace-nowrap {
    white-space: nowrap;
}

@media (min-width:768px) {
    /* md */
}

@media (min-width:1024px) {
    .lg\:mt-0 {
        margin-top: 0;
    }

    .lg\:top-8 {
        top: 2rem;
    }
}


.toggle-switch {
    position: relative;
    outline: none;
    background-color: rgb(229 231 235);
    border: 1px solid rgb(107 114 128);
    border-radius: 9999px;
    cursor: pointer;
    height: 20px;
    width: 32px;
}

.dark .toggle-switch {
    background-color: rgb(255 255 255 / 5%);
    border-color: rgb(255 255 255 / 1);
}

.toggle-switch[data-state="checked"] {
    background-color: rgb(0 0 0);
    border-color: rgb(0 0 0);
}

.dark .toggle-switch[data-state="checked"] {
    background-color: rgb(22 163 74);
    border-color: rgb(22 163 74);
}

.toggle-switch-handle {
    display: block;
    background-color: rgb(255 255 255);
    border-radius: 9999px;
    height: 16px;
    width: 16px;
    transition: transform 0.1s;
    will-change: transform;
    transform: translateX(1px);
}

.toggle-switch-handle[data-state="checked"] {
    transform: translateX(14px);
}

.toggle-switch-handle:hover {
    background-color: rgb(243 244 246);
}

.toggle-switch-label {
    color: rgb(107 114 128);
    margin-left: 0.75rem;
    font-size: 0.875rem;
    font-weight: 500;
}

.toggle-switch-label:hover {
    color: rgb(71 85 105);
}

