img[src*="https://source.unsplash.com/"] {
    visibility: hidden;
}

/* hide the flickering */
p > img[src*="https://images.unsplash.com/"] {
    animation: fadeIn .3s;
}

.Select {
    padding: 0 0 0 0.5rem;
    width: 7.5rem;
    border-radius: 4px;
    box-shadow: 0 0 0 1px #6f6e77;
}

.dark .Select {
    background-color: #2f2f2f;
    color: #fff;
    box-shadow: 0 0 0 1px #6f6e77;
}

.menu-item {
    height: 46px;
}

.menu-item[disabled] {
    pointer-events: none;
    filter: brightness(0.5);
}

.inputFieldSet {
    display: block;
    border-width: 2px;
    border-style: groove;
}

.inputFieldSet legend {
    margin-left: 4px;
}

.inputFieldSet input {
    background-color: transparent;
    box-shadow: none!important;
}

.row-half {
    grid-column: auto / span 1;
}

.row-full {
    grid-column: auto / span 2;
}

.dropdown-backdrop {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 998;
    animation-name: pointerFadeIn;
    animation-duration: .3s;
}

.dropdown-menu {
    display: none;
    position: absolute;
    grid-template-columns: 1fr 1fr;
    column-gap: 4px;
    left: calc(100% + 1rem);
    top: -3.85rem;
    width: 260px;
    padding: .75rem .4rem 0 .4rem;
    border-radius: .375rem;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px -1px rgba(0,0,0,.1);
    animation: fadeIn .3s;
}

.dropdown-menu::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1rem;
    width: 1rem;
    height: 100%;
}

#exporter-menu[disabled] {
    cursor: not-allowed;
}

#exporter-menu:not([disabled]):hover::after {
    content: '';
    position: absolute;
    top: 1.2rem;
    right: -1rem;
    width: 0;
    height: 0;
    border-top: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    border-right: .5rem solid #202123;
    animation: fadeIn .3s;
}

@supports not selector(:has(.test:hover)) {
    #exporter-menu:not([disabled]):hover .dropdown-menu {
        display: grid;
    }
}

@supports selector(:has(.test:hover)) {
    #exporter-menu:not([disabled]):not(:has(.dropdown-backdrop:hover)):hover .dropdown-menu {
        display: grid;
    }
}

@media screen and (hover: none) and (max-width: 768px) {
    .dropdown-menu {
        position: fixed;
        left: 0;
        top: unset;
        bottom: 0;
        width: 100%;
        border-radius: 0;
        box-shadow: none;
        z-index: 999;
        animation: slideUp .3s;
    }

    @supports selector(:has(.test:hover)) {
        #exporter-menu:not([disabled]):not(:has(.dropdown-backdrop:hover)):hover .dropdown-backdrop {
            display: block;
        }

        #exporter-menu:not([disabled]):has(.dropdown-backdrop:hover):hover .dropdown-backdrop {
            display: block;
            pointer-events: none;
            opacity: 0;
            animation-name: pointerFadeInReverse;
        }
    }

    #exporter-menu:hover::after {
        display: none;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes pointerFadeIn {
    from {
        opacity: 0;
        pointer-events: none;
    }
    to {
        opacity: 1;
        pointer-events: auto;
    }
}

/* Using `animation-direction: reverse` is not working in our case */
@keyframes pointerFadeInReverse {
    from {
        opacity: 1;
        pointer-events: auto;
    }
    to {
        opacity: 0;
        pointer-events: none;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes circularDash {
    0% {
        stroke-dasharray: 1px, 200px;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 100px, 200px;
        stroke-dashoffset: -15px;
    }
    100% {
        stroke-dasharray: 100px, 200px;
        stroke-dashoffset: -125px;
    }
}
