.after\:content-\[\'\'\]:after {
    --tw-content: "";
    content: var(--tw-content);
}

.after\:transition-all:after {
    content: var(--tw-content);
    transition-duration: .15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.after\:bg-white:after {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    content: var(--tw-content);
}

.after\:border-gray-300:after {
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219/var(--tw-border-opacity));
    content: var(--tw-content);
}

.after\:border:after {
    border-width: 1px;
    content: var(--tw-content);
}

.after\:rounded-full:after {
    border-radius: 9999px;

    content: var(--tw-content);
}
.after\:w-4:after {
    content: var(--tw-content);
    width: 1rem
}

.after\:h-4:after {
    content: var(--tw-content);
    height: 1rem;
}

.after\:top-\[2px\]:after {
    content: var(--tw-content);
    top: 2px;
}

.after\:left-\[2px\]:after {
    content: var(--tw-content);
    left: 2px;
}

.after\:absolute:after {
    content: var(--tw-content);
    position: absolute;
}

.animate-fadeIn  {
    animation: fadeIn .3s;
}

.animate-slideUp  {
    animation: slideUp .3s;
}

.bg-blue-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(28 100 242/var(--tw-bg-opacity));
}

.border-\[\#6f6e77\] {
    border-color: #6f6e77;
}

.cursor-help {
    cursor: help;
}

.dark .dark\:bg-white\/5 {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / 5%);
}

.dark .dark\:border-gray-\[\#86858d\] {
    border-color: #86858d;
}

.dark .dark\:border-gray-600 {
    --tw-border-opacity: 1;
    border-color: rgb(75 85 99/var(--tw-border-opacity));
}

.empty\:hidden:empty {
    display: none;
}

.fill-current {
    fill: currentColor;
}

.gap-x-1	 {
    column-gap: 0.25rem;
}

.h-2\.5 {
    height: 0.625rem;
}

.h-4 {
    height: 1rem;
}

.h-5 {
    height: 1.25rem;
}

.mr-8 {
    margin-right: 2rem;
}

.pb-0 {
    padding-bottom: 0;
}

.peer:checked~.peer-checked\:bg-blue-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(28 100 242/var(--tw-bg-opacity));
}

.peer:checked~.peer-checked\:after\:border-white:after {
    --tw-border-opacity: 1;
    border-color: rgb(255 255 255/var(--tw-border-opacity));
    content: var(--tw-content);
}
.peer:checked~.peer-checked\:after\:translate-x-full:after {
    --tw-translate-x: 100%;
    content: var(--tw-content);
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.pl-4 {
    padding-left: 1rem;
}

.pr-8 {
    padding-right: 2rem;
}

.rounded-full {
    border-radius: 9999px;
}

.select-all {
    user-select: all!important;
}

.space-y-6>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.w-9 {
    width: 2.25rem;
}

.whitespace-nowrap {
    white-space: nowrap;
}

@media (min-width:768px) {
    /* md */
}

@media (min-width:1024px) {
    .lg\:mt-0 {
        margin-top: 0;
    }

    .lg\:top-8 {
        top: 2rem;
    }
}
